h1 {
	font-size: clamp(19px, 4vw + 1rem, 50px);
	background: linear-gradient(
		90deg,
		rgba(89, 31, 255, 1) 0%,
		rgba(17, 108, 255, 1) 100%
	);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform: uppercase;
	font-family: system-ui;
	text-align: center;
}
body {
	min-height: 100vh;
	display: grid;
	place-items: center;
}
