.loading-page {
	width: 100vw;
	position: absolute;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 1000;
	background: white;
}

.darkmode .loading-page {
	background-color: var(--dark-body-color);
}

.loading-page .container {
	padding: 36px;
	padding-right: calc(36px - 12px);
	width: 100%;
	height: 100%;
	grid-template: 0.64fr 0.1fr 1fr 0.4fr / 0.9fr 1fr 2fr 0.15fr;
	margin: auto !important;
	max-height: 680px;
	grid-template-areas:
		'title title about settings'
		'skills social about settings'
		'skills projects projects projects'
		'logo projects projects projects' !important;
}

.loading-page .container > div {
	background-color: #cbc5f8;
	border-radius: 8px;

	/* animation: pulse-loading 0.5s linear infinite alternate; */
	transition: opacity 0.2s ease-in-out;
	border-top: 1px solid rgb(119 129 143 / 20%);
}

.loading-page .title {
	animation: pulse-loading 0.6s linear infinite alternate;
}

.loading-page .social,
.loading-page .about,
.loading-page .skills {
	animation: pulse-loading 0.6s 200ms linear infinite alternate;
}

.loading-page .projects,
.loading-page .settings,
.loading-page .logo {
	animation: pulse-loading 0.6s 400ms linear infinite alternate;
}

@keyframes pulse-loading {
	from {
		opacity: 0.5;
	}

	to {
		opacity: 1;
	}
}

.darkmode .loading-page .container > div {
	background-color: var(--dark-section-color);
}

@keyframes loading-pag {
	from {
		clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
	}

	to {
		clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%);
		pointer-events: none;
	}
}

@media (width < 1050px) {
	.loading-page {
		display: none;
	}
}
