.loading-page {
	width: 100vw;
	position: absolute;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 1000;
	background: white;
}

.darkmode .loading-page {
	background-color: var(--dark-body-color);
}

.loading-page .container {
	padding: 36px;
	padding-right: calc(36px - 12px);
	width: 100%;
	height: 100%;
	grid-template: 0.64fr 0.1fr 1fr 0.4fr / 0.9fr 1fr 2fr 0.15fr;
	margin: auto !important;
	max-height: 680px;
	grid-template-areas:
		'title title about settings'
		'skills social about settings'
		'skills projects projects projects'
		'logo projects projects projects' !important;
}

.loading-page .container > div {
	background: #cbc5f8;
	border-radius: 8px;
	animation: pulse-loading 1s linear infinite alternate;
	transition: opacity 0.2s ease-in-out;
}

@keyframes pulse-loading {
	from {
		opacity: 0.5;
	}

	to {
		opacity: 1;
	}
}

.darkmode .loading-page .container > div {
	background: var(--dark-section-color);
}

@keyframes loading-pag {
	from {
		clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
	}

	to {
		clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
		pointer-events: none;
		z-index: -999;
	}
}

@keyframes loading-pag {
	from {
		clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
	}

	to {
		clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%);
		pointer-events: none;
	}
}

@media (width < 1050px) {
	.loading-page {
		display: none;
	}
}
