@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.subtitle {
		@apply text-3xl m-3 font-bold text-center;
	}
	.absolute-center {
		@apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
	}
}

html {
	color: white;
	scroll-behavior: smooth;
	font-family: 'Roboto', sans-serif;
}

.bg-main {
	content: '';
	position: absolute;
	width: 150vw;
	height: 385px;
	background: white;
	transform: rotate(40deg);
}

/* ========= HOME ========= */
main {
	background: #12163b !important;
	position: relative;
	overflow: hidden;
}
main::after,
main::before {
	content: '';
	position: absolute;
	z-index: 10;
	width: 200vw;
	height: 200px;
	background: url('/wave.svg') no-repeat center center fixed;
	background-size: cover;
}
main::after {
	transform: rotate(40deg) translate(9rem, 9rem) scaleY(0.5);
}
main::before {
	transform: rotate(220deg) translate(9rem, 9rem) scaleY(0.5);
}

/* ========= COLOR PICKER ========= */
.colorPicker {
	-webkit-appearance: none;
	appearance: none;
	border: none;
}

.colorPicker::-webkit-color-swatch-wrapper {
	padding: 0;
}

.colorPicker::-webkit-color-swatch {
	border: none;
}

/* ============ SELECTION & FOCUS ============ */

::selection {
	background: var(--mainColor);
	color: white;
}

:focus-visible {
	outline: 3px dotted var(--mainColor);
	outline-offset: 3px;
}

/* ============ SCROLL-BAR ========= */
::-webkit-scrollbar {
	width: 13px;
}

::-webkit-scrollbar-track {
	background: #1f2937;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	border: 3px solid #1f2937;
	background: var(--mainColor);
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(255, 255, 255);
}
