@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.subtitle {
		@apply text-2xl font-bold text-center;
	}
	.absolute-center {
		@apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
	}
}

html {
	color: white;
	scroll-behavior: smooth;
	font-family: 'Roboto', sans-serif;
}

.colorPicker {
	-webkit-appearance: none;
	appearance: none;
	border: none;
}

.colorPicker::-webkit-color-swatch-wrapper {
	padding: 0;
}

.colorPicker::-webkit-color-swatch {
	border: none;
}

/* ============ SCROLL-BAR ========= */
/* width */
::-webkit-scrollbar {
	width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #1f2937;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	border: 3px solid #1f2937;
	background: var(--mainColor);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(255, 255, 255);
}
